<h1> {{title}} </h1>
<br>
<h3> {{message}} </h3>
<br><br>
<div class="container">
    <h2>Here are some pages you often visit:</h2>
    <br>
    <button class="btn btn">
        <a href="http://www.ChurchOfJesusChrist.org">The Church of Jesus Christ of Latter Day Saints</a>
    </button>
    <br><br>
    <button class="btn btn">
        <a href="http://www.bankofamerica.com">Bank of America</a>
    </button>
    <br><br>
    <button class="btn btn">
        <a href="https://www.udemy.com">Udemy</a>
    </button>
    <br><br>
    <button class="btn btn">
        <a href="http://www.youtube.com">Youtube</a>
    </button>
    <br><br>
</div>